.lista-compra{
    display: flex;
    flex-direction: row;
}

.card-livro_carrinho {
    width: 100%;
    height: 250px;
    margin: 10px 5px;
    background: #f5f5f5;
    border-radius: 4px;

    display: grid;
    align-items: center;
}

.grid-template-columns-4{
	grid-template-columns: 1fr 6fr 3fr 1fr;
}

.titulo-min{
    font-size: 18px;
    font-weight: 600;
    margin: 10px -1px 5px;
    color: #292929;
    text-align: start;
    cursor: pointer;
}

.quantidade {
    width: 50%;
    padding: 0 8px;
    border-radius: 3px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.botao-qtd{
    width: 30px;
    height: 34px;
    text-align: center;
    border: 1px solid;
    border-radius: 4px;

    display: flex;
    justify-content: center;
    
    position: relative;
    cursor: pointer;
}

.botao-qtd:hover{
    background: rgba(0, 0, 0, 0.12);
    border-radius: 5px;
}

.quantidade input {
    min-width: 20px;
    max-width: 30px;
    margin: 2px;
    height: 35px;
    border: none;
    background: none;
    text-align: center;
    cursor: pointer;
    position: relative;
    right: -6px;

}

.botao-qtd span{
    position: relative;
    top: 3px;
}

.delete{
    font-size: 20px;
    position: relative;
    right: 30px;
    top: 20px;
    cursor: pointer;
}